/*  hero section   */
.hero-section{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    padding-bottom: 65px;
    padding-top: 65px;
    background-color: #495E57;
}

.hero-section-size{
    width: 900px;
    height: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-size .info{
    width: 450px;
    height: 360px;
}

.hero-section-size .info p{
    width: 400px;
    text-align: justify;
}

.hero-section button{
    margin-left: auto;
    width: 200px;
    height: 60px;
    color: #495E57;
    background-color: #F4CE14;
    border-color: #F4CE14;
    font-size: 16px;
    font-weight: bold;
    margin-top: 40px;
}

.hero-section button:hover{
    background-color: #edefee;
    color: #495E57;
    transform: scale(0.95);
    cursor: pointer;
    border-color: 2px solid #333333;
}

.hero-section-size .img{
    width: 375px;
    height: 325px;
}

.hero-section-size .img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/*  Week Special */

.week-special{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #edefee;
}

.week-special-size{
    height: 555px;
    width: 858px;
}

.week-special-size .header{
    display: flex;
    justify-content: space-between;
}

.week-special-size h1{
    margin-left: 15px;
}

.week-special-size .btn-main{
    margin-left: auto;
    width: 200px;
    height: 60px;
    color: #495E57;
    background-color: #F4CE14;
    border-color: #F4CE14;
    font-size: 16px;
    font-weight: bold;
}

.week-special-size .btn-main:hover{
    background-color: #edefee;
    color: #495E57;
    transform: scale(0.95);
    cursor: pointer;
    border-color: 2px solid #333333;
}

.special-cards{
    display: flex;
}


/* Testimonial - section */

.testimonials{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #495E57;
}

.testimonials-size{
    width: 1200px;
    height: 320px;
    display: block;
}

.header{
    text-align: center;
}

.testimonial-boxes{
    display: flex;
}

/*  About Little Lemon  */

.about-little-lemon{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #edefee;
}

.about-ll-size{
    width: 1020px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-little-lemon .info{
    width: 440px;
    height: 360px;
    margin-right: 15px;
}

.about-little-lemon .info .header{
    text-align: justify;
}

.about-little-lemon .about p{
    text-align: justify;
}

.Mario-Adrian{
    width: 557px;
    height: 450px;
    display: flex;
    margin-left: 15px;
    position: relative;
}

.Mario-Adrian .img1, .Mario-Adrian .img2{
    width: 267.94px;
    height: 336px;
}

.img1{
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
}

.img1 img, .img2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid #495E57; /* Set border style and color */
    box-sizing: border-box; /* Include border in width and height */
}

.img2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}