/*  About Little Lemon  */

.about-little-lemon{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    padding-bottom: 50px;
    padding-top: 50px;
    background-color: #edefee;
}

.about-ll-size{
    width: 1020px;
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-little-lemon .info{
    width: 440px;
    height: 360px;
    margin-right: 15px;
}

.about-little-lemon .info .header{
    text-align: justify;
}

.about-little-lemon .about p{
    text-align: justify;
}

.Mario-Adrian{
    width: 557px;
    height: 450px;
    display: flex;
    margin-left: 15px;
    position: relative;
}

.Mario-Adrian .img1, .Mario-Adrian .img2{
    width: 267.94px;
    height: 336px;
}

.img1{
    position: absolute;
    bottom: 40px;
    left: 40px;
    z-index: 2;
}

.img1 img, .img2 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border: 2px solid #495E57; /* Set border style and color */
    box-sizing: border-box; /* Include border in width and height */
}

.img2{
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}