.menuPage{
    width: 100vw;
    height: auto;
    background-color: #495e57;
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 50px;
}

.menuPage-size{
    width: 70vw;
}

.menuPage-header h1{
    text-align: center;
    font-size: 36px;
}

.menu-category{
    display: flex;
    justify-content: center;
}

.menu-category-header{
    width: 300px;
    margin-right: 50px;
}

.menu-category-header h1{
    text-align: right;
}

.menu-category-list{
    margin-left: 50px;
    width: 300px;
    text-align: left;
}

.menu-category-list ul{
    padding: 0;
}