.booking-form{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    padding-bottom: 65px;
    padding-top: 65px;
    background-color: #495E57;
}

.booking-form-size{
    width: 500px;
    height: auto;
    justify-content: center;
}

.booking-form-size h1{
    text-align: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.form-size{
    width: 450px;
    justify-content: space-between;
    font-size: 24px;
}

.form-size .input{
    width: 450px;
    justify-content: space-between;
    margin: 20px 10px 20px 10px;
}

.input-value input, .input-value select{
    width: 200px;
    height: 50px;
}

.submit-button{
    text-align: center;
    margin-top: 40px;
}

.submit-button button{
    margin-left: auto;
    width: 200px;
    height: 60px;
    color: #495E57;
    background-color: #F4CE14;
    border-color: #F4CE14;
    font-size: 16px;
    font-weight: bold;
}

.submit-button button:disabled{
    background-color: #edefee;
    color: #495E57;
    border-color: #333333;
    cursor: no-drop;
}

.submit-button button:not(:disabled):hover{
    background-color: #F4CE14;
    color: #495E57;
    transform: scale(0.95);
    cursor: pointer;
    border-color: 2px solid #333333;
}