@import "@fontsource/markazi-text"; /* Defaults to weight 400*/

#root{
    background-color: white;
    overflow: hidden;
    font-family: "Markazi Text";
    font-size: larger;
}

img{
    width: 100px;
    height: 100px;
}