.nav{
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */
    padding-bottom: 2px;
    padding-top: 2px;
}

.nav-size{
    width: 1000px;
}

.logoStyle{
    transform: scale(2);
    margin-right: 100px;
}